.welcome {
  background-image: url('assets/img/fondo2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center; 
  background-size: cover;
}

.welcome .container  {
   height: 7000px;
   color: white;
}